@{
	// Lấy tên Controller và Action hiện tại từ RouteData
	var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
	var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>@ViewData["title"] - Admin Areas</title>
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.26.24/dist/sweetalert2.min.css" rel="stylesheet">
	<link href="//cdn.datatables.net/2.3.7/css/dataTables.dataTables.min.css" rel="stylesheet">
	<link href="~/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/css/price-range.css" rel="stylesheet">
	<link href="~/css/animate.css" rel="stylesheet">
	<link href="~/css/main.css" rel="stylesheet">
	<link href="~/css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header">
		<!--header-->
		<div class="header-bottom">
			<!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
					<div class="mainmenu pull-left">
						<ul class="nav navbar-nav collapse navbar-collapse">
							<li>
								<a asp-area="" asp-controller="Home" asp-action="Index" 
								   class="@(currentController == "Home" ? "active" : "")">Trang Chủ</a>
							</li>
							<li>
								<a asp-area="Admin" asp-controller="Product" asp-action="Index" 
								   class="@(currentController == "Product" ? "active" : "")">Sản Phẩm</a>
							</li>
							<li>
								<a asp-area="Admin" asp-controller="Category" asp-action="Index" 
								   class="@(currentController == "Category" ? "active" : "")">Danh Mục</a>
							</li>
							<li>
								<a asp-area="Admin" asp-controller="Brand" asp-action="Index" 
								   class="@(currentController == "Brand" ? "active" : "")">Thương Hiệu</a>
							</li>
							<li>
								<a asp-area="Admin" asp-controller="Order" asp-action="Index" 
								   class="@(currentController == "Order" ? "active" : "")">Đơn Hàng</a>
							</li>
							<li>
								<a asp-area="Admin" asp-controller="User" asp-action="Index" 
								   class="@(currentController == "User" ? "active" : "")">User</a>
							</li>
							<li>
								<a asp-area="Admin" asp-controller="Role" asp-action="Index" 
								   class="@(currentController == "Role" ? "active" : "")">Role</a>
							</li>
							<li>
								<a asp-area="Admin" asp-controller="Slider" asp-action="Index" 
								   class="@(currentController == "Slider" ? "active" : "")">Slider</a>
							</li>
						</ul>
				</div>
					<div class="col-sm-4">
						<form asp-controller="Product" asp-action="Search" method="post">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search" name="searchTerm"/>
							<button type="submit" class="btn btn-warning">Search</button>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
				@await Html.PartialAsync("_notification")
				@RenderBody()
			</div>
		</div>
	</section>

	<script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
	<script src="~/js/jquery.prettyPhoto.js"></script>
	<script src="~/js/main.js"></script>
	<script src="~/Backend/js/site.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.26.24/dist/sweetalert2.all.min.js"></script>
	<script src="//cdn.datatables.net/2.3.7/js/dataTables.min.js"></script>
	<script>
    $(function(){
       var errorMessage = "@Html.Raw(TempData["Error"])";
        var successMessage = "@Html.Raw(TempData["Success"])";

        if (errorMessage !== "") {
            Swal.fire({
                icon: 'error',
                html: '<p style="font-size: 18px;">' + errorMessage + '</p>'
            });
        }

        if (successMessage !== "") {
            Swal.fire({
                icon: 'success',
                html: '<p style="font-size: 18px;">' + successMessage + '</p>', // Chèn style trực tiếp
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK'
            });
        }
    });
</script>
<script>
    if ($.validator) {
        $.extend($.validator.messages, {
            required: "Trường này không được để trống.",
            email: "Vui lòng nhập đúng định dạng email.",
            number: "Vui lòng nhập số.",
            digits: "Vui lòng chỉ nhập chữ số.",
            equalTo: "Mật khẩu nhập lại không khớp.",
            maxlength: $.validator.format("Vui lòng không nhập quá {0} ký tự."),
            minlength: $.validator.format("Vui lòng nhập ít nhất {0} ký tự.")
        });
    }
</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>